<footer class="footer">
  <p class="copyright">Copyright © 2017-<script>document.write(new Date().getFullYear());</script> Wren Security. This page was built using an adapted version of the Antora default UI.</p>
</footer>
