<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://wrensecurity.org/">Wren Security</a>
        <span class="separator">//</span>
        <a href="{{site.url}}">Docs</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Projects</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.wrensecurity.org/wrenam/latest">Wren:AM</a>
            <a class="navbar-item" href="https://docs.wrensecurity.org/wrends/latest">Wren:DS</a>
            <a class="navbar-item" href="https://docs.wrensecurity.org/wrenidm/latest">Wren:IDM</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
