<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="logo" title="Wren Security" href="https://wrensecurity.org">
          <img src="{{{uiRootPath}}}/img/wren.png" alt="Wren Security" width="32">
        </a>
        <a class="title" href="{{site.url}}">{{site.title}}</a>
      </div>
    </div>
  </nav>
</header>
